* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  letter-spacing: 2px;
}

body {
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
}

header {
  background-color: blue;
  color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  margin: 10px;
}

header h1 {
  text-align: center;
  font-size: large;
}

header a {
  display: inline-block;
  font-weight: bold;
  margin: 10px;
  text-decoration: none;
  color: white;
}

header a:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
}

header h1 {
  padding: 10px;
}

nav {
  padding: 10px;
}

nav a {
  margin: 5px;
  text-decoration: none;
  color: blue;
  padding: 2px 0;
}

nav a:hover {
  border-bottom: 1px solid blue;
  cursor: pointer;
}

section {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

section h2 {
  border-bottom: 1px solid black;
  padding: 5px 0;
}

section article h3 {
  padding: 5px 0;
  color: blue;
}

section article ul {
  margin: 10px 10px;
}

section article ul li {
  list-style-type: none;
}

section article ul li:before {
  content: "↳";
}

section div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

section div figure {
  max-width: 500px;
  width: 100%;
  margin: 10px;
}

section div figure img {
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 480px;
  width: 100%;
  height: 340px;
}

section div figure figcaption {
  text-align: center;
}
